DATABASE_URL=

# Slack Configuratipn
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_SIGNING_SECRET=

# OpenAI congiguration
OPENAI_API_KEY=

# company information
COMPANY_NAME=Code with Gopi
COMPANY_PRODUCT=Coding Courses

#APPLICATION CONFIG
PORT=3000
NODE_ENV=development

# Google Gemini API Configuration
GOOGLE_API_KEY=
